.body {
  background-image: -webkit-linear-gradient(270deg, #060015, #060015);
  background-image: linear-gradient(180deg, #060015, #060015);
}

.heading {
  display: block;
  margin: 40px auto 11px;
  padding-top: 101px;
  padding-right: 7px;
  padding-left: 27px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 31px;
  text-transform: uppercase;
}

.paragraph {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 30px;
  font-family: Montserrat, sans-serif;
  color: rgba(104, 121, 149, .8);
}

.navbar {
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
}

.container {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.nav-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.nav-link-2 {
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .7);
}

.nav-link-3 {
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .7);
}

.image {
  margin-top: 6px;
}

.image-2 {
  margin-bottom: 2px;
  margin-left: -9px;
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
}

.column {
  padding-bottom: 20px;
}

.form {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 26px 300px 5px;
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
}

.text-field {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 0.1px solid #fff;
  background-image: -webkit-linear-gradient(270deg, #000, #000);
  background-image: linear-gradient(180deg, #000, #000);
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.submit-button {
  position: static;
  display: block;
  margin: 20px auto 40px;
  padding-top: 9px;
  padding-right: 50px;
  padding-left: 50px;
  float: none;
  background-image: -webkit-linear-gradient(270deg, #4c28ba, #4c28ba);
  background-image: linear-gradient(180deg, #4c28ba, #4c28ba);
  font-family: Montserrat, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.row {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

@media (max-width: 991px) {
  .heading {
    padding-top: 55px;
    padding-right: 0px;
    padding-left: 22px;
    font-size: 23px;
  }
  .paragraph {
    padding-left: 22px;
    font-size: 11px;
  }
  .navbar {
    background-image: -webkit-linear-gradient(270deg, #090121, #090121);
    background-image: linear-gradient(180deg, #090121, #090121);
  }
  .column {
    padding-top: 0px;
    padding-bottom: 9px;
  }
  .form {
    padding-right: 240px;
    padding-left: 240px;
    background-image: -webkit-linear-gradient(270deg, #03000c, #03000c);
    background-image: linear-gradient(180deg, #03000c, #03000c);
  }
  .text-field {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 8px;
    font-size: 10px;
  }
  .submit-button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .heading {
    padding-top: 0px;
    font-size: 19px;
    text-align: center;
  }
  .paragraph {
    padding-right: 80px;
    padding-left: 80px;
    font-size: 9px;
    text-align: center;
  }
  .image-2 {
    margin-left: -90px;
    padding: 0px;
  }
  .form {
    padding-right: 150px;
    padding-left: 150px;
  }
  .text-field {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 8px;
  }
}

@media (max-width: 479px) {
  .heading {
    padding-left: 0px;
    line-height: 32px;
  }
  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-2 {
    margin-left: -32px;
  }
  .form {
    padding-right: 80px;
    padding-left: 80px;
  }
}

